In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("SMSSpamCollection",sep="\t",names=["labels",'messages'])

In [ ]:
df

     labels                                           messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
df.shape

(5572, 2)

text cleaning and preprocessing

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,WordNetLemmatizer
nltk.download("stopwords")
nltk.download("wordnet")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
ps=PorterStemmer()
lemma=WordNetLemmatizer()

In [ ]:
corpus=[]
for i in range (len(df)):
  x=re.sub('[^a-zA-Z]'," ",df["messages"][i])
  x=x.lower()
  x=x.split()
  x=[ps.stem(word) for word in x if word not in set(stopwords.words("english"))]
  x=" ".join(x)
  corpus.append(x)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)
x=cv.fit_transform(corpus).toarray()

In [ ]:
y=pd.get_dummies(df["labels"],drop_first=True)
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.naive_bayes import MultinomialNB
spam_detection_model=MultinomialNB().fit(x_train,y_train)
y_pred=spam_detection_model.predict(x_test)
acc=accuracy_score(y_pred,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
y_pred1=lg.fit(x_train,y_train).predict(x_test)
acc1=accuracy_score(y_pred1,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
y_pred2=dt.fit(x_train,y_train).predict(x_test)
acc2=accuracy_score(y_pred2,y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
y_pred3=rf.fit(x_train,y_train).predict(x_test)
acc3=accuracy_score(y_pred3,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
from xgboost import XGBClassifier
xg=XGBClassifier()
y_pred4=xg.fit(x_train,y_train).predict(x_test)
acc4=accuracy_score(y_pred4,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
print(f"""          MultinomialNB                 :[{acc:.3f}] \n
          LOGISTIC REGRESSION           :[{acc1:.3f}] \n
          DecisionTreeClassifier        :[{acc2:.3f}] \n
          RandomForestClassifier        :[{acc3:.3f}] \n
          XGBClassifier                 :[{acc4:.3f}] \n """)

          MultinomialNB                 :[0.980]

          LOGISTIC REGRESSION           :[0.983]

          DecisionTreeClassifier        :[0.978]

          RandomForestClassifier        :[0.977]

          XGBClassifier                 :[0.973]